/* Comment component */

.comment {
    margin: 10px 0px;
    .meta, .comment-menu {
        color: #aaa;
        text-align: left;
        font-size: 12px;
        display: inline-block;
    }
    .comment-menu {
        width: 100px;
        margin-left: 10px;
        div {
            margin-left: 5px;
            display: inline;
        }
        .edit,
        .delete {
            cursor: pointer;
        }
    }
    .content {
        color: #777;
        font-size: 14px;
        pre {
            margin: 0px;
            white-space: pre-wrap;       /* css-3 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */    
            font-family: cursive;        
        }
    }
    .form {
        display: flex;
        textarea {
            font-size: 14px;
            color: #555;
            overflow: hidden; // border-top: 0px;
            // border-left: 0px;
            // border-right: 0px;
            // border-radius: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            height: 20px;
            resize: none;
            flex: 1;
            border: 1px solid #eee;
            min-width: 50px;
            max-width: 200px;
        }
        .save-btn {
            width: 70px;
            margin: 1px 0px;
            color: #666;
            margin-left: 3px;
            button {
                width: 30px;
                border: 0px;
                padding: 0px;
                i {
                    cursor: pointer;
                    font-size: 16px;
                }
            }
        }
    }
}