@import "../com/com.scss";
.header {
    position: relative;
    border-bottom: 2px solid $site-color;
    display: flex;
    padding: 5px 0px;
    .logo-wrapper {
        flex: 1;
        .logo {
            margin-right: 15px;
            img {
                //width: 120px;
                cursor: pointer;
                filter: hue-rotate(90deg) opacity(70%);
                //opacity: 0.7;
                
            }
        }
    }
    .btn-wrapper {
        display: flex;
        padding: 8px 3px 8px 8px;
        .add-btn {
            margin-right: 15px;
            cursor: pointer;
            font-size: 22px;
            padding-top: 2px;
            text-align: center;
            padding-right: 2px;
            border: 1px solid #ddd;
            border-radius: 24px;
            background-color: #f6f6f6;
            color: #555;
            width: 27px;
            padding-left: 1px;

            &:hover {
                background-color: #eee;
                color: black;
            }

        }
        .login-btn {
            margin-right: 15px;
            cursor: pointer;
            font-size: 14px;
            padding: 6px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f6f6f6;
            color: #555;
            &:hover {
                background-color: #eee;
                color: black;
            }
        }
        .user-name {
            //margin-right: 15px;
            margin-left: 3px;
            cursor: pointer;
            font-size: 15px;
            padding: 6px 0px 6px 6px;
            color: #444;
        }
        .user-image {
            width: 30px;
            height: 30px;
            border-radius: 15px;
        }
    }
}

// mobile-first
@include mobile() {
    .logo img {
        width: 100px;
    }
}