@import "../com/style.scss";


.header {
    border-bottom: 2px solid $site-color;
    display: flex;
    padding: 5px 0px;
    .logo-wrapper {
        flex: 1;
        .logo {
            margin-right: 15px;
            cursor: pointer;
            img {
                //width: 120px;
            }
        }
    }
    .btn-wrapper {
        padding: 12px;
        .add-btn {
            margin-right: 15px;
            cursor: pointer;
        }
    }
}

// mobile-first
@media only screen and (max-width: 600px) {
    .logo img {
        width: 100px;
    }
}
