@import "../com/style.scss";
$img-width: 200px;
$img-width-mobile: 100px;

li {
    list-style: none;
    margin: 10px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
    .wrapper {
        display: flex;
        .left {
            flex: 1;
            .title {
                color: green;
                font-size: 18px;
                a:-webkit-any-link {
                    color: #333;
                }
            }
            .url {
                font-size: 14px;
                color: $site-color;
            }
            .desc {
                font-size: 14px;
                color: #999;
                max-height: 35px;
                overflow: hidden;
            }
            .post-menu {
                margin-top: 5px;
                display: flex;
                div {
                    color: #555;
                    font-size: 14px;
                    width: 46px;
                    cursor: pointer;
                }
            }
            a {
                text-decoration: none;
                font-family: "Arial";
            }
            a:hover {
                opacity: 0.6;
            }
        }
        .right {
            text-align: center;
            margin-left: 5px;
            width: $img-width;
            img {
                max-height: 150px;
                max-width: $img-width;
            }
        }
    }
}

@include mobile() {
    li .wrapper .right {
        width: $img-width-mobile;
        img {
            max-width: $img-width-mobile;
        }
    }
}