$img-width: 200px;
$img-width-mobile: 100px;


.write-title {
    font-size: 18px;
    margin: 10px 0px;
}

.wrapper {
    display: flex;
    .form {
        flex: 1;
        margin-right: 20px;
        div {
            margin-bottom: 10px;
            input {
                width: 100%;
                max-width: 800px;
                height: 30px;
                font-size: 16px;
            }
        }
        .image {
            img {
                width: 200px;
                max-width: $img-width;
            }
        }
    }
    .btn {
        button {
            margin: 0px 5px;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 600px) {
    .wrapper .image img {
        max-width: $img-width-mobile;
    }
}