@import "../com/style.scss";

$img-width: 200px;
$img-width-mobile: 100px;

.write-title {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.wrapper {
    display: flex;
    .form {
        flex: 1;
        margin-right: 40px;
        > div {
            margin-bottom: 10px;
            .label {
                font-size: 14px;
                color: #555;
                margin-bottom: 5px;
            }
            input {
                width: 100%;
                max-width: 800px;
                height: 24px;
                font-size: 14px;                
                color: #777;
            }
        }
    }
    .image {
        width: $img-width;
        img {
            width: $img-width;
            max-width: $img-width;
        }
    }    
}

.btn {
    div {
        display: inline-block;
        margin-right: 5px;
        color: #666;
        font-size: 13px;
        width: 48px;
        cursor: pointer;
        border: 1px solid #ddd;
        padding: 4px;
        /* margin: 3px; */
        background-color: #fafafa;
        border-radius: 8px;

        &:hover {
            font-weight: bold;
        }
    }

}

@include mobile() {
    .wrapper .image {
        width: $img-width-mobile;
        img {
            width: $img-width-mobile;
            max-width: $img-width-mobile;
        }
    } 

}